.gallery {
  padding-left: 0;
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;

  &__image {
    width: 100%;
    height: 250px;
    margin: 10px 0;
    image-rendering: pixelated;
  }
}

@include medium {
  .gallery {
    padding-left: 400px;
    transition: 0.5s;
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    &__image {
      width: 47%;
      height: 250px;
      margin: 10px;
      transition: ease 0.1s;

      &:hover {
        transform: scale(1.01);
        filter: blur(1px);
        z-index: 1;
      }
    }
  }
}
