.gallery {
  padding-left: 0;
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;

  &__image {
    width: 100%;
    height: 250px;
    margin: 10px 0;
    image-rendering: pixelated;
    &-link {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__overlay {
    margin: 0;
    color: #fff;
    position: relative;
    left: 235px;
    top: 150px;
  }
}

@include medium {
  .gallery {
    padding-left: 400px;
    transition: 0.5s;
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    &__image {
      width: 47%;
      height: 300px;
      margin: 10px;
      transition: ease 0.1s;

      &:hover {
        transform: scale(1.01);
        z-index: 1;
      }
      &-link {
        filter: blur(2.5px);
        &:hover {
          filter: unset;
        }
      }
    }
  }
}
