.header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  box-sizing: border-box;
  width: 375px;
  left: -375px;
  height: 100vh;
  background-color: $black;
  transition: 0.5s;
  z-index: 1;
  overflow-y: auto;
  list-style: none;
  &__heading {
    color: $red;
  }
  &.burger-active {
    left: 0;
  }

  ul li a {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 700;
    transition: ease 0.3s;

    &:hover {
      transform: scale(1.6);
      margin-left: 90px;
    }
  }
  &__list {
    list-style: none;
    text-decoration: none;
    &-image {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      margin-top: 50px;
      image-rendering: crisp-edges;
    }
    &-heading {
      color: white;
      padding-top: 20px;
    }
  }
}

@include medium {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100px;
    background-color: #fff;
    transition: 0.5s;
    z-index: 1;
    list-style: none;
    display: flex;
    &__icon {
      display: none;
    }
    ul {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      box-sizing: border-box;
      width: 100vw;
      height: 100px;
      background-color: #151515;
      transition: 0.5s;
      z-index: 1;
      list-style: none;
      display: flex;
    }
  }
}
