@charset 'utf-8';
@import "./partials/colours";
@import "./partials/fonts";
@import "./partials/breakpoints";

html,
body {
  margin: 0;
  font-family: "Courier Prime", monospace;
  color: #323232;
  height: 100vh;
  box-sizing: border-box;
  background: fixed;

  a {
    text-decoration: none;
    color: white;
  }
}
#root,
.App,
body {
  background-color: $grey;
}
.main {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/photos/pic20.jpg);
  background-repeat: none;
  background-size: cover;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Enforces border-box for site */
*,
*:before,
*:after {
  box-sizing: inherit;
}

@import "./partials/header";
@import "./partials/burger";
@import "./partials/gallery";
@import "./partials/reels";
@import "./partials/about";
@import "./partials/footer";
