@charset 'utf-8';
@import "./partials/colours";
@import "./partials/fonts";
@import "./partials/breakpoints";

html,
body {
  margin: 0;
  font-family: "Actor", sans-serif;
  color: #323232;
  height: 100vh;
  box-sizing: border-box;
  background: fixed;

  a {
    text-decoration: none;
    color: white;
  }
}
#root,
.App,
body {
  background-color: $gray;
}

/* Enforces border-box for site */
*,
*:before,
*:after {
  box-sizing: inherit;
}

@import "./partials/header";
@import "./partials/gallery";
@import "./partials/about";
