@import url("https://fonts.googleapis.com/css?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");
/* Media Query: Desktop */
html,
body {
  margin: 0;
  font-family: "Courier Prime", monospace;
  color: #323232;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: fixed;
}

html a,
body a {
  text-decoration: none;
  color: white;
}

#root,
.App,
body {
  background-color: #40434e;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/photos/pic20.jpg);
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

.main__image {
  width: 100%;
  height: 100%;
}

/* Enforces border-box for site */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.header__heading {
  color: #a63d40;
}

.header input[type="checkbox"] {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .header__icon::before {
  content: "Close";
}

.header__icon {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 2;
  background-color: #151515;
}

.header__icon::before {
  content: "Menu";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #a63d40;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
}

.header ul {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 350px;
  left: -350px;
  height: 100vh;
  background-color: #151515;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  overflow-y: auto;
  list-style: none;
}

.header input[type="checkbox"]:checked ~ ul {
  left: 0;
}

.header ul li a {
  display: block;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.header ul li a:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  margin-left: 90px;
}

.header__list-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 50px;
  image-rendering: crisp-edges;
}

.header__list-heading {
  color: white;
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .header__icon {
    display: none;
  }
  .header ul {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 350px;
    height: 100vh;
    background-color: #151515;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1;
    overflow-y: auto;
    list-style: none;
  }
}

.gallery {
  padding-left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 5%;
}

.gallery__image {
  width: 100%;
  height: 250px;
  margin: 10px 0;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

@media only screen and (min-width: 768px) {
  .gallery {
    padding-left: 400px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .gallery__image {
    width: 47%;
    height: 250px;
    margin: 10px;
    -webkit-transition: ease 0.1s;
    transition: ease 0.1s;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .gallery__image:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-filter: unset;
            filter: unset;
    z-index: 1;
  }
}

.about {
  margin: 60px 5%;
}

.about__text {
  color: white;
  width: 100%;
}

.about__text-image {
  width: 100%;
}

.about__text-image-large {
  height: 300px;
  width: 100%;
}

.about__heading {
  color: white;
}

@media only screen and (min-width: 768px) {
  .about {
    width: 70%;
    margin-left: 425px;
    margin-bottom: 0;
  }
  .about__text {
    color: white;
  }
  .about__text-image {
    width: 100%;
  }
  .about__text-image-large {
    height: 420px;
    width: 100%;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated;
    image-resolution: crisp-edges;
  }
  .about__heading {
    color: white;
  }
}
/*# sourceMappingURL=main.css.map */